@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.moodButton {
  background-color: rgb(27, 77, 215);
  border-radius: 20px;
  width: fit-content;
  padding: 10px;
  border: aqua 3px solid;
}

.moodButton:hover {
  background-color: purple;
}

.nav {
  background-color: #a94eff;
  margin: 20px;
  padding: 5px;
  border-radius: 30px;
}

.main-content {
  background-color: #7a30bf;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 10px;
  border-radius: 20px;
  border: #ededed, 4px, solid;
  height: 30vh;
  width: 60vw;
}

.main {
  background-color: #41156a;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 10px;
  border-radius: 20px;
  border: #ededed, 4px, solid;
  height: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a94eff;
}

textarea,
input {
  background-color: rgb(68, 56, 56);
  border: rgb(255, 198, 255), 3px, solid;
  border-radius: 20px;
  text-align: center;
  width: 50vw;
  height: 10vh;
}

.select-options {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: fit-content;
  margin: 1vw;
  background-color: #28004d;
  border-radius: 10px;
  text-indent: 20px;
  text-align: center;
}

.options-container {
  display: flex;
  overflow-y: scroll;
}

.selectButton {
  background-color: #a94eff;
  border-radius: 30px;
  padding: 5px;
  border: #0a0a0a, solid, 3px;
  text-align: center;
}

.selectButton:hover {
  background-color: #270844;
  border-radius: 30px;
  padding: 5px;
  border: #e4beff, solid, 3px;
  text-align: center;
  cursor: pointer;
}

.YourMood {
  height: 20vh;
}

summary {
  width: 55vw;
}

.profilePage {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  width: fit-content;
}

.profileTitle {
  background-color: #41156a;
  width: 80vw;
  padding: 20px;
}

.profileContainer {
  background-color: #380f6e;
  margin: 3%;
  padding: 20px;
}

.profileElement {
  margin: 10px;
  background-color: #6624a3;
  padding: 20px;
}

.profileEditButton {
  background-color: #7a30bf;
  padding: 20px;
}

.profileContainer,
.profileElement,
.profileTitle {
  border-radius: 30px;
  border: #b390cb, solid, 3px;
}

.profileEditButton {
  border: #e4beff, solid, 3px;
  border-radius: 30px;
}

.profileEditButton:hover {
  border: #613580, solid, 3px;
  border-radius: 30px;
  background-color: #41156a;
  box-shadow: #e4beff 0px 0px 12px;
  box-shadow: #b957ff 0px 0px 20px;
}

.profileMood {
  height: 20vh;
}

.profileSubtitle {
  background-color: #250048;
  padding: 5px;
  border-radius: 10px;
  border: #69349a, solid, 3px;
}
